<div id="login-logout">

{{#if currentuser}}
	<form id='logout' action='logout' method='POST'>
		<input class='button'type='submit' value='Log out'>
	</form>
{{else}}
	<form id='login' action='login' method='POST'>
		<input class='button' type='submit' value='Log in'>
	</form>
{{/if}}
</div>

<div id='twotecontain'>
<h1>Twoter</h1>
{{#if currentuser}}
		<form id='new{{_id}}' action='newTwote' method='POST'>
		    <input id='newTwote' type='submit' value='TWOTE NOW'>
		    <br>
		    <br>
		    <br>
			<input id='User' type='text' name='twoteText'>
			
		</form>
{{/if}}

<ul id='twotes'>
{{#each twotes}}
		<div class='twote belongsTo{{_user._id}}'>
			<li class='Twotes' class='twote{{_user._id}}'>{{content}} <input class='delete' id='delete{{_id}}' type='submit' value='Delete'></li>
			<li class='User' class='twote{{_user._id}}'> Twoter : {{_user.name}}</li>
		</div>
{{/each}}
</ul>



<div id='users'>

<br>
<br>

<h3>List of Users</h3>
<ul>
{{#each users}}
		<input class='user' id='{{_id}}' type='submit' value='{{name}}'><br>
{{/each}}
</ul>
</div>